<template>
  <div v-if="products.length">
    <b-card-group columns>
      <product-item
        v-for="product in paginatedList"
        :product="product"
        :key="product.id"
        @addToCart="addProductToCart"
      >
      </product-item>
    </b-card-group>

    <b-pagination
      v-model="currentPage"
      :total-rows="rows"
      :per-page="perPage"
      pills
      aria-controls="products"
      align="center"
      class="mt-5"
    ></b-pagination>
  </div>
  <b-alert v-else show variant="info">No hay productos para mostrar</b-alert>
</template>

<script>
import { mapActions, mapMutations, mapState } from "vuex";
import ProductItem from "./ProductItem";

export default {
  components: {
    ProductItem
  },
  mounted() {
    this.fetchProducts();
  },
  data() {
    return {
      paginate: ["products"],
      perPage: 3,
      currentPage: 1,
      rows: 20
    };
  },
  computed: {
    ...mapState("products", ["products"]),
    paginatedList() {
      return this.products.slice(
        (this.currentPage - 1) * this.perPage,
        this.currentPage * this.perPage
      );
    }
  },
  methods: {
    ...mapActions("products", ["fetchProducts"]),
    ...mapMutations("cart", ["addProduct"]),
    addProductToCart(product) {
      this.addProduct(product);
    }
  }
};
</script>
